:root {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #2F303A;
}

html, 
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2 rem;
  background-color: #2F303A;
  color: white;
}

.App {
  min-height: 300vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
 

/*Navigation*/
.navigation {
  /*background-color: #202027;*/
  /*height: 10vh;*/
  color: whitesmoke;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.sticky-navbar {
  padding-right: 10%;
}

.nav-link {
  color: whitesmoke;
}

.nav-link :hover {
  color: #202027;
}



/*Hero*/

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

.conatiner-circulo-azul-peq {
  width: 20%;
  height: 20%;
}
.circulo-azul-peq {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: #3457b21a;
  top: -200px;
  left: 120px;
  position: relative;
}

.hero h1 {
  max-width: 300px;
  font-size: 2.5em;
  text-align: left;
}


.hero-button {
  width: 100px;
  background-color: #1762A7;
  border-radius: 7px;
}

.hero-button :hover {
  background-color: #2180d8;
}

.hero-button :focus {
  background-color: #2796ff;
}

.circulo-morado {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: #bc3a801a;
  top: 30vh;
  left: -250px;
  position: relative;
}

.circulo-azul-big {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: #3457b21a;
  top: 30vh;
  right: 15vh;
  position: relative;
}

/*Section 2*/
.discover {
  height: 100vh;
  padding: 10%;
}

.discover h1 {
  max-width: 300px;
  font-size: 2.5em;
  text-align: left;
}

.div-discover-icons {
  display: flex;
  height: 50px;

}

.discover-card-icon {
  width: 50%;
  height: 70px;
  margin: 5%;
  background-color: #202027;
  
}

.discover-icons {
  background-color: #202027;
  padding-top: 10px;
  height: 40px;
  
}
.p-icons {
  background-color: #202027;
}

.discover-p {
  margin-top: 50px;
  text-align: left;
  
}

.covers {
  width: 70%;
  align-self: center;
  margin-left: 20%;
}

.covers img {
  width: 100%;
}

/*Section 3*/

.section3 {
  height: 100vh;
}

.join-title {
  max-width: 200px;
  font-size: 2.5em;
  text-align: left;
  margin-left: 10%;
  font-weight: 900;
}

span {
  color: rgb(243, 11, 139);
}

.container-form {
  height: 60%;
  width: 80%;
  border-radius: 15px;
  background-color: #202027;
  padding: 0 40px 20px 40px;
  text-align: left;
}

.joinForm, .joinForm div, .form-label, .form-control {
  background-color: #202027;
}

.form-label{
  margin-top: 10%;
  font-family: Poppins;
}

.btn {
  margin-top: 30px;
  background-color: #1762A7;
  font-family: Poppins;
}

/*Footer*/
.footer {
  height: 60px;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #202027;
  position: fixed;
  bottom: 0;
  left: 0;
  text-decoration: none;
}

.footer ul {
  background-color: #202027;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.list-unstyled {
  background-color: #202027;
}

.list-unstyled a {
  text-decoration: none;
  color: whitesmoke;
  background-color: #202027;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-icon {
  height: 10px;
  background-color: #202027;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/